/*
ffc526 amarillo
40b4e5 azul
047732 verde
12100c negro
*/

.ucabblack {
  background-color: #12100c;
}

.linea_vertical {
  border-left: 3px solid #12100c;
  height: 350px;
  position:relative;
  margin-left: 50%;
}

.margin-ucabform{
  margin-left: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-dark {
  background-color: white;
  color: #12100c !important;
}

.navbar {
    border-radius: 15px;
    background-color: white;
    color: #12100c !important;
}

.letra_form {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


.button_iniciosesion {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; 
  color: #12100c; 
  padding: 10px 50px 10px 50px; 
  background-color: #ffc526; 
  border-radius:15px; 
  position: relative; 
  margin-top: 20px; 
  left: 50%; 
  margin-left: -90px;
}

/*Pagina final*/

#navcol-1 {
    font-size: 18px
}

@media (max-width: 576px) {
    .navbar-dark .navbar-nav .nav-link {
        float: right
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,121,52, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
  border: 2px solid #047732;
}

.my-5 {
  margin-top: 150px !important;
}
.card {
  border-radius: 20px;
  background-color: #047732;
}

.card-body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

.p_text {
  margin-bottom: -0.5rem;
}

.navbar-brand {
  color: #12100c !important;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.boton_aceptar {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #ffc526;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #12100c;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

.buttom_volverinicio {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; 
  color: #12100c; 
  padding: 10px 50px 10px 50px; 
  background-color: #ffc526; 
  border-radius: 15px; 
  position: relative; 
  margin-top: 20px; 
  left: 50%; 
  margin-left: -98px;
}

/*Creacion de encuesta*/
.conterdor_titulo {
  background-color: #047732; 
  margin-top:100px; 
  position: relative; 
  border-radius: 20px;
}

.titulo_encuesta {
  margin-top: 15px;
  background-color: #047732; 
  border: none; 
  color: white; 
  font-size: 25px; 
  font-family: Arial, Helvetica, sans-serif; 
  outline: none;
  width: 100%;
  resize: none;
}

.descripcion_encuesta {
  margin-top: 10px;
  background-color: #047732; 
  border: none; 
  color: white; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif; 
  outline: none;
  width: 100%;
  resize: none;
}

span.ejemplo {
  color: #12100c;
}

a.cambiar {
  color: blue; 
  margin-left: 5px;
}

.correo_text {
  color: white; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif; 
}

.margin_correo_text {
  padding-bottom: 1px;
}

.plus{
  background-image: url("../../recursos/no-check.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  margin-left: -10px; margin-top: 5px;
}

.plus.minus{
  background-image: url("../../recursos/check.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  margin-left: -10px; margin-top: 5px;
}

.contenedor_iconos {
  /*background-color: #ffc526; 
  border-radius: 50%; 
  margin-left: 3%;
  margin-right: 3%;*/*/
}

.tamanho_iconos {
  width: 35px;
  height: auto;
  /*padding-left: 3px;
  padding-right: 3px;*/
}

.mini_linea_vertical {
  border-left: 3px solid #12100c;
  height: 30px;
  position:relative;
  margin-left: 50%;
}

.listgroup_format {
  background-color: transparent;
  font-size: 10px; 
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
}

.iconos_listgroup {
  margin-left: -10px;
  margin-right: 10px;
  max-width: 16px;  
}

.quitar_buttondeco {
  background-color: transparent;
  border: none;
  outline: none !important;
  color: white;
}

.estilo_pregunta {
  width: 100%; 
  color: white;
  font-size: 20px; 
  border: none; 
  outline: none; 
  resize: none; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: transparent; 
  margin-top: 15px;
}

.estilo_respuestacorta {
  width: 90%; 
  color: white;
  font-size: 15px; 
  border-width: 0 0 3px;
  border-color: #ffc526;
  padding-bottom: 2px; 
  outline: none; 
  resize: none; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: transparent; 
  margin-top: 30px;
}

@media (max-width: 576px) {
  .col-xs-12 {
    margin: 10px 50px 0px 50px;
  }
}

@media (max-width: 1200px) {
  .col-sm-6 {
    padding-left: -100px;
    padding-right: -100px;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .col-sm-12 {
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .quitar_margenlista {
    max-width: 180px;
    padding-left: 10px;
  }
}

.quitar_margenlista {
  min-width: 100px; 
  background-color: #047732; 
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .col_encuesta {
    margin-left: -8px;
  }
}

.quitar_margenlista1 {
  min-width: 100px; 
  background-color: #047732; 
  border-radius: 15px; 
  padding-top: 15px; 
  padding-bottom: 15px;
}

.estilo_respuestalarga {
  width: 90%; 
  color: black;
  font-size: 15px; 
  border-width: 3px;
  border-color: #ffc526; 
  outline: none; 
  resize: none; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: white; 
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.button_delete {
  margin-left: 60%;
  border: 0;
  outline: none !important;
  background-color: transparent;
}

.x_button_delete {
  width:30px;
}

.button_mas {
  outline: none !important;
  border: 0;
  background-color: transparent;
  margin-bottom: 10px;
}

.plus_button_mas {
  width:30px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.input_seleccion {
  width: 90%;
  border: 3px solid #ffc526;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 15px;
  color: #12100c;
  height: 35px;
  outline: none; 
  border-radius: 5px;
}

.date_custom {
  width: 90%;
  height: 35px;
  color: #12100c;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #ffc526;
  background-color: white; 
  margin-top: 35px;
  margin-bottom: 5px;
  outline: none;
  border-radius: 5px;
}

.custom-file-label {
  width: 90%;
  height: 35px;
  color: #12100c;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #ffc526;
  background-color: white; 
  margin-top: 15px;
  margin-bottom: 5px;
  outline: none;
}

#custom-text {
  display: inline-block;
  color: black;
  width: 100%;
  background-color: white;
  padding: 3px;
  border: 3px solid #ffc526;
  margin-top: 4px;
  border-radius: 5px;
}

.custom_calendario {
  width: 40px;
}

.custom_calendarioBtn {
  background-color: transparent;
  border: none;
  outline: none !important;
}

.button_plus {
  margin: 30px 0px 30px 0px;
  border: none;
  outline: none !important;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  background-color: #ffc526;
}

.img_plus {
  width: 40px;
  
}

.container_encuesta {
  margin-top:20px; 
  position: relative;
}

.encuesta_col-xl-8 {
  background-color: #40b4e5; 
  border-radius: 20px;
}

.justify_content {
  justify-content: center;
}

.col_encuesta {
  max-width: 60px;
}

.col-eliminar {
  margin-right: 10px;
}

.Btn_opciones {
  width: 40px; 
  justify-content: center;
}

.Btn_eliminar {
  background-color: transparent;
  border: none;
  outline: none !important;
}

@media (max-width: 650px) {
  .btn_crearencuesta1 {
    margin-left: -60px;
    left: 50%;
  }
}

@media (min-width: 651px) {
  .btn_crearencuesta1 {
    left: 80%;
  }
}

.btn_crearencuesta1 {
  position: relative;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #ffc526;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  outline: none !important;
}

.filequestion_margin {
  margin-top: 35px;
}



/*
ffc526 amarillo
40b4e5 azul
047732 verde
12100c negro
*/