/*
ffc526 amarillo
40b4e5 azul
047732 verde
12100c negro
*/

.ucabblack {
  background-color: #12100c;
}

.linea_vertical {
  border-left: 3px solid #12100c;
  height: 350px;
  position:relative;
  margin-left: 50%;
}

.margin-ucabform{
  margin-left: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-dark {
  background-color: white;
  color: #12100c !important;
}

.navbar {
    border-radius: 15px;
    background-color: white;
    color: #12100c !important;
}

.letra_form {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


.button_iniciosesion {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; 
  color: #12100c; 
  padding: 10px 50px 10px 50px; 
  background-color: #ffc526; 
  border-radius:15px; 
  position: relative; 
  margin-top: 20px; 
  left: 50%; 
  margin-left: -90px;
}

/*Pagina final*/

#navcol-1 {
    font-size: 18px
}

@media (max-width: 576px) {
    .navbar-dark .navbar-nav .nav-link {
        float: right
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,121,52, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
  border: 2px solid #047732;
}

.my-5 {
  margin-top: 150px !important;
}
.card {
  border-radius: 20px;
  background-color: #047732;
}

.card-body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

.p_text {
  margin-bottom: -0.5rem;
}

.navbar-brand {
  color: #12100c !important;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.boton_aceptar {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #ffc526;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #12100c;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

.buttom_volverinicio {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; 
  color: #12100c; 
  padding: 10px 50px 10px 50px; 
  background-color: #ffc526; 
  border-radius: 15px; 
  position: relative; 
  margin-top: 20px; 
  left: 50%; 
  margin-left: -98px;
}

/*Creacion de encuesta*/

.titulo_encuesta {
  margin-top: 15px;
  background-color: #047732; 
  border: none; 
  color: white; 
  font-size: 25px; 
  font-family: Arial, Helvetica, sans-serif; 
  outline: none;
  width: 100%;
  resize: none;
}

.descripcion_encuesta {
  margin-top: 10px;
  background-color: #047732; 
  border: none; 
  color: white; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif; 
  outline: none;
  width: 100%;
  resize: none;
}

.correo_text {
  color: white; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif; 
}

.margin_correo_text {
  padding-bottom: 1px;
}

.plus{
  background-image: url("../../recursos/no-check.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  margin-left: -10px; margin-top: 5px;
}

.plus.minus{
  background-image: url("../../recursos/check.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  margin-left: -10px; margin-top: 5px;
}

.contenedor_iconos {
  /*background-color: #ffc526; 
  border-radius: 50%; 
  margin-left: 3%;
  margin-right: 3%;*/*/
}

.tamanho_iconos {
  width: 35px;
  height: auto;
  /*padding-left: 3px;
  padding-right: 3px;*/
}

.mini_linea_vertical {
  border-left: 3px solid #12100c;
  height: 30px;
  position:relative;
  margin-left: 50%;
}

.listgroup_format {
  background-color: transparent;
  font-size: 10px; 
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
}

.iconos_listgroup {
  margin-right: 10px;
  max-width: 16px;  
}

.quitar_linksdeco {
  text-decoration: none; 
  color: white;
}

a:hover.quitar_linksdeco {
  text-decoration: underline; 
  color: white;
}

.estilo_pregunta {
  width: 100%; 
  color: white;
  font-size: 20px; 
  border: none; 
  outline: none; 
  resize: none; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: transparent; 
  margin-top: 15px;
}

.estilo_respuestacorta {
  width: 90%; 
  color: white;
  font-size: 15px; 
  border-width: 0 0 3px;
  border-color: #ffc526;
  padding-bottom: 2px; 
  outline: none; 
  resize: none; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: transparent; 
  margin-top: 30px;
}

@media (max-width: 576px) {
  .col-xs-12 {
    margin: 10px 50px 0px 50px;
  }
}

@media (max-width: 1200px) {
  .col-sm-6 {
    padding-left: -100px;
    padding-right: -100px;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .col-sm-12 {
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .quitar_margenlista {
    max-width: 180px;
    padding-left: 10px;
  }
}

@media (max-width: 1200px) {
  .quitar_margenlista1 {
    max-width: 180px;
  }
}